# python -m pip install --upgrade pip
# pip install -r requirements.txt

fastapi>=0.95.0
uvicorn>=0.21.0
python-dotenv>=1.0.0
requests>=2.28.0
numpy>=1.24.0
python-multipart>=0.0.6
psycopg2-binary>=2.9.9
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
sqlalchemy>=1.4.41
pyjwt>=2.6.0
email-validator>=2.0.0
fastapi-mail
httpx
bcrypt
langchain_openai
beautifulsoup4
newspaper3k
lxml_html_clean
torch --index-url https://download.pytorch.org/whl/cpu
pillow
pydantic>=1.10.0 
jieba>=0.42.1

# python -m uvicorn app:app --reload --host 0.0.0.0 --port 8000